language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_API=25
    - ANDROID_BUILD_TOOLS=25.0.0

android:
  lintOptions :
    - abortOnError false

  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-25.0.0

    # The SDK version used to compile your project
    - android-25

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - addon-google_apis-google-25

    - extra-android-support
    - extra-android-m2repository
    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    # - sys-img-armeabi-v7a-android-25
    # - sys-img-armeabi-v7a-android-21
  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - intel-android-extra-license-.+
    - google-gdk-license-.+

before_install:
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
  - chmod +x gradlew
  - ./gradlew dependencies || true
notifications:
  email: false